header {
    background: url('../img/trooper.jpg') center no-repeat;
    min-height: 100vh;
    padding-top: 20%;
}

#restart-button {
    display: none;
}

table {
    margin: auto;
    background-color: white;
    border: 1px solid grey;
}

td {
    height: 60px;
    width: 60px;
    /*border: 1px solid grey;*/
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
    background-color: azure;
    font-size: 13px;
}

p {
    margin-bottom: 0;
}

.blocked {
    background-color: black;
}

.available {
    border: 1px solid grey;
}

.playerOne {
    /*background-color: yellow;*/
}

.playerTwo {
    background-color: green;
}

.weapon {
    background-color: aquamarine;
}