body {
    background: url('../img/trooper.jpg') right;
    background-size: cover;
}

header {
    min-height: 100vh;
    padding-top: 20%;
}

main {
    display: none;
    min-height: 100vh;
    padding-top: 3%;
}

table {
    background-color: white;
    border: 1px solid grey;
    margin: auto;
}

td {
    height: 48px;
    width: 48px;
    font-size: 13px;
}

.blocked {
    background-color: black;
    border-radius: 15%;
}

.available {
    border: 1px solid grey;
}

.half-opacity {
    opacity: .2;
    display: none;
    z-index: 2;
}

#credit {
    display: none;
}

/* Stats Box Styling */

.statsBox {
    background-color: white;
    border: 2px solid burlywood;
    max-height: 30vh;
}

.playerName {
    font-weight: 600;
    font-size: 1.1em;
    color: black;
}